* {
  margin: 0;
  padding: 0;
}

.container-slide {
  width: 50vw;
  height: 50vh;
  background-color: black;
  margin: 20vh auto;
  border-radius: 10px;
  box-shadow: 0 20px 30px black;
}

.container-items {
  display: flex;
  width: 50vw;
  height: 50vh;
}

.item {
    width: 50vw;
    height: 50vh;
}
